{% extends 'base.html' %} 
{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us..</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to the ecommerce site
      </p>
    </div>
  </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perspiciatis odit excepturi iusto porro sint ipsa impedit voluptates asperiores doloribus ut debitis, delectus ducimus, eaque sequi quos? Exercitationem, consequuntur necessitatibus?
                <br>
                Error dolor voluptates vel magnam veritatis esse voluptate, dolorum illo quod tenetur omnis incidunt commodi deleniti nam quos dolores dolorem laudantium? Ab cumque nostrum quis quam iure culpa fuga aliquid.
                Dicta itaque repudiandae dolores assumenda laborum sint nesciunt. Quisquam dolorem obcaecati fuga dolore ipsam quidem doloremque earum. Voluptatem ullam possimus reprehenderit ipsa, explicabo sint! Nulla in placeat facilis libero amet.
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem perspiciatis odit excepturi iusto porro sint ipsa impedit voluptates asperiores doloribus ut debitis, delectus ducimus, eaque sequi quos? Exercitationem, consequuntur necessitatibus?
                <br>
                Error dolor voluptates vel magnam veritatis esse voluptate, dolorum illo quod tenetur omnis incidunt commodi deleniti nam quos dolores dolorem laudantium? Ab cumque nostrum quis quam iure culpa fuga aliquid.
                Dicta itaque repudiandae dolores assumenda laborum sint nesciunt. Quisquam dolorem obcaecati fuga dolore ipsam quidem doloremque earum. Voluptatem ullam possimus reprehenderit ipsa, explicabo sint! Nulla in placeat facilis libero amet.
                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}
